@media (max-width: 580px) {
    .images-c {
        text-align: center;
    }

    .images-c img {
        width: 120px;
        height: 124px;
    }

    .text-banner h1 {
        font-size: 5rem;
        margin-left: 90px;
        line-height: 1.1;
    }

    .banner-img p {
        width: 460px;
        padding-left: 90px;
    }

    .banner-img {
        height: auto;
    }

    #area1 {
        display: grid;
        grid-template-columns: 1fr;
       
    }

    #area1 .area1-content {
        margin-right: 25px;
        padding: 0px;
        height: 550px;
    }

    #area1 .area1-img-g {
        background-image: url(images/f1.jpg);
        background-size: cover;
        background-position: center;

        position: absolute;
        top: 0;
        right: -130px;
        width: 150px;
        height: 100%;
        z-index: -1;

        grid-column: unset;
        grid-row: unset;
    }

}

@media (max-width: 490px) {
   .header-right {
        margin: 0px 50px 0px 235px;
    }

    .header-search input {
        display: none;
    }

    .header-search button {
        display: none;
    }

    .images-c img {
        margin: -90px 0px 0px 20px;
        width: 90px;
        height: 94px;
        border: 3px solid #117050;
    }

    .banner-img h1 {
        font-size: 2.5rem;
        margin-left: 50px;
        line-height: 1.1;
    }

    .banner-img p {
        width: 300px;
        font-size: 12px;
        text-align: left;
        padding-left: 50px;
    }
}

@media (max-width:420px) {
    .header-right {
        margin: 0px 50px 0px 185px;
    }
}

@media (max-width: 408px) {
    .banner-img h1 {
        font-size: 2.5rem;
        margin-left: 50px;
        line-height: 1.1;
    }

    .banner-img p {
        width: 300px;
        font-size: 12px;
        text-align: left;
        padding-left: 50px;
    }
}


@media (max-width: 350px) {
    .header-right {
        margin: 0px 50px 0px 155px;
    }

    .images-c {
        margin-left: -50px;
    }

    .images-c img {
        margin: -90px 0px 0px 60px;
        width: 84px;
        height: 88px;
    }

}