@media (max-width: 978px) {
    .last-banner {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .last-banner img {
        width: 100%;
        height: auto;

    }
}

@media (max-width: 580px) {
    .images-c {
        text-align: center;
    }

    .images-c img {
        width: 120px;
        height: 124px;
    }

    .text-banner h1 {
        font-size: 5rem;
        margin-left: 90px;
        line-height: 1.1;
    }

    .banner-img p {
        width: 460px;
        padding-left: 90px;
    }

    .banner-img {
        height: auto;
    }

    #area1,
    #area2 {
        display: grid;
        grid-template-columns: 1fr;

    }

    #area1 .area1-content {
        margin-right: 25px;
        padding: 0px;
        height: 550px;
    }

    #area1 .area1-img-g,
    #area2 .area2-img-g,
    #area3 .area3-img-g {
        display: none;
    }



    #area1 .area1-content p,
    #area2 .area2-content p,
    #area3 .area3-content p,
    .area4 .area4-content p {
        width: 410px;
        margin-left: 60px;
    }


}

@media (max-width: 490px) {
    .header-right {
        margin: 0px 50px 0px 235px;
    }

    .header-search input {
        display: none;
    }

    .header-search button {
        display: none;
    }

    .images-c img {
        margin: -90px 0px 0px 20px;
        width: 90px;
        height: 94px;
        border: 3px solid #117050;
    }

    .banner-img h1 {
        font-size: 2.5rem;
        margin-left: 50px;
        line-height: 1.1;
    }

    .banner-img p {
        width: 300px;
        font-size: 12px;
        text-align: left;
        padding-left: 50px;
    }

    #area1 .area1-content p,
    #area2 .area2-content p,
    #area3 .area3-content p,
    .area4 .area4-content p {
        width: 330px;
        margin-left: 60px;
    }
}

@media(max-width:430px) {
    #title {
        font-size: 28px;
    }
}


@media (max-width:420px) {
    .header-right {
        margin: 0px 50px 0px 185px;
    }
}

@media (max-width: 408px) {
    .banner-img h1 {
        font-size: 2.5rem;
        margin-left: 50px;
        line-height: 1.1;
    }

    .banner-img p {
        width: 300px;
        font-size: 12px;
        text-align: left;
        padding-left: 50px;
    }

    #title {
        font-size: 28px;
    }

    #area1 .area1-content p,
    #area2 .area2-content p,
    #area3 .area3-content p,
    .area4 .area4-content p {
        width: 230px;
        margin-left: 60px;
    }

    #area1 .area1-img2 {
        background-repeat: no-repeat;
        height: 200px;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width:332px) {
    .area1-img2 {
        margin-top: 50px;
    }
}

@media (max-width: 350px) {
    .header-right {
        margin: 0px 50px 0px 155px;
    }

    .images-c {
        margin-left: -50px;
    }

    .images-c img {
        margin: -90px 0px 0px 60px;
        width: 84px;
        height: 88px;
    }

}